<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnimalBlogs</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">AnimalBlogs</a>
        <nav class="nav-items">
          <a href="#intro">Home</a>
          <a href="#about-me">About</a>
          <a href="#services">Services</a>
          <a href="#footer">Contact</a>

          <button class="btnLogin-popup"><a href="login">Login</a> </button>
          <button class="btnLogin-popup"><a href="registration">Register</a></button>
        </nav>
      </header>
      
      <main>
        <section id="intro">
        <div class="intro">
          <h1>Explore the Wild with Us!!</h1>
          <p>Discover the Beauty of the Animal Kingdom on our Blog!</p>
        </div>
        </section>
        
        <section id="about-me">
        <div class="about-me">
          <div class="about-me-text">
            <h2>About Us</h2>
            <p>we're your go-to source for all things animal-related. Our team of passionate wildlife enthusiasts is here to share captivating stories, expert insights, and stunning imagery. Join us in celebrating the beauty of the animal kingdom while promoting conservation and awareness. Explore, learn, and connect with the fascinating world of animals through our blog.</p>
          </div>
          <img src="images/Capture.PNG" alt="me">
        </div>
      </section>
        <hr>
        <section id="services">
        <div class="achievements">
          <div class="work">
            <i class="fas fa-atom"></i>
            <p class="work-heading">View Blogs</p>
            <p class="work-text">Explore captivating animal blogs that offer fascinating insights and heartwarming stories about the creatures. Dive into a world of wildlife wonders and conservation efforts with our curated collection of animal-related content.</p>
          </div>
          <div class="work">
            <i class="fas fa-skiing"></i>
            <p class="work-heading">Connect</p>
            <p class="work-text">Connect" on our animal blog website encourages readers to engage with a vibrant community, share their thoughts, and bond over their love for animals, fostering a stronger connection to wildlife and conservation.</p>
          </div>
          <div class="work">
            <i class="fas fa-ethernet"></i>
            <p class="work-heading">Add Blogs</p>
            <p class="work-text">Enrich your website with an array of captivating animal blogs, offering your audience valuable insights into the fascinating world of creatures big and small. Expand your content library and keep your readers engaged with compelling stories, facts, and images.</p>
          </div>
        </div>
        </section>
      </main>
      <section id="footer">
      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="footer-col">
              <h4>company</h4>
              <ul>
                <li><a href="#">about us</a></li>
                <li><a href="#">our services</a></li>
                <li><a href="#">privacy policy</a></li>
              </ul>
            </div>
            <div class="footer-col">
              <h4>get help</h4>
              <ul>
                <li><a href="#">FAQ</a></li>
              </ul>
            </div>
            
            <div class="footer-col">
              <h4>follow us</h4>
              <div class="social-links">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
        </div>
     </footer>
     </section>
</body>
</html>