<!DOCTYPE html>

<html lang="en" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name = "viewport" content ="width-device-width, initial-scale-1.0">
    <title>Animated registration Form | CodingNepal</title>
   
    <!---css-->
    <link rel="stylesheet" href="css/registration_style.css">

    <!---iconscount css-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <link rel="stylesheet" href="func_insert.js">

  </head>
  <body>
    <div class="container">
        <header>Registration</header>     
        
        <form action="/submit" method="post">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Personal Details</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Full Name</label>
                            <input name="name" type="text" placeholder="Enter your name" required>
                        </div>
                        <div class="input-field">
                          <label>Password</label>
                          <input name='password' type="password" placeholder="Enter Password" required>
                        </div>
                        <div class="input-field">
                          <label>Date Of Birth</label>
                          <input name="dob" type="date" placeholder="Enter birth date" required>
                        </div>
                        <div class="input-field">
                          <label>Email</label>
                          <input name="email" type="text" placeholder="Enter your email" required>
                        </div>
                        <div class="input-field">
                          <label>Mobile No</label>
                          <input name="mobile" type="number" placeholder="Enter mobile number" required>
                      </div>
                      <div class="input-field">
                        <label>Gender</label>
                        <select name="gender" required>
                            <option value="">Select a Gender</option>
                            <option value="Female">Female</option>
                            <option value="Male">Male</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                      
                    </div>
                    
                </div>
                <div class="details ID">
                  <div class="fields">
                      
                     
                    
                    
                  </div>
                  <button class="nextBtn">
                    <span class="btnText">Next</span>
                    <i class="uil uil-navigator"></i>
                  </button>
                  
              </div>
            </div>
         

        <!-- <form action="#"> -->
              <div class="form second">
                  <div class="details address">
                      <span class="title">Personal Details</span>
  
                      <div class="fields">
                        <div class="input-field">
                          <label>State</label>
                          <select name="state" required>
                              <option value="">Select a state</option>
                              <option value="Maharashtra">Maharashtra</option>
                              <option value="Kerala">Kerala</option>
                              <option value="Goa">Goa</option>
                              <option value="Gujarat">Gujarat</option>
                              <option value="MadhyaPradesh">MadhyaPradesh</option>
                              <option value="Other">Other</option>
                          </select>
                      </div>
                      <div class="input-field">
                        <label>Language</label>
                        <select name="language" required>
                            <option value="">Select language</option>
                            <option value="Marathi">Marathi</option>
                            <option value="Gujarati">Gujarati</option>
                            <option value="Punjabi">Punjabi</option>
                            <option value="Hindi">Hindi</option>
                            <option value="Telugu">Telugu</option>
                            <option value="Other">Other</option>
                        </select>
                      </div>
                      <div  class="input-field">
                        <label>Age</label>
                        <input name="age" type="number" placeholder="Enter Age" required>
                      </div>
                      <div class="input-field">
                        <label>Hobby</label>
                        <input name="hobby" type="text" placeholder="Enter your hobby" required>
                      </div>
                      <div class="input-field">
                        <label>Which is your Favourite animal</label>
                        <input name="favourite" type="text" placeholder="enter animal name" required>
                      </div>
                      
                  </div>
                  
                    <div class="buttons">
                      <button class="backBtn">
                        <span class="btnText">Back</span>
                        <i class="uil uil-navigator"></i>
                      </button>
                      <button class="nextBtn">
                        <span class="btnText">Submit</span>
                        <i class="uil uil-navigator"></i>
                      </button>
                    </div>
                    
                </div>
              </div>

        </form>
    </div>

    <script src="script.js"></script>
  </body>
</html>




